<template name="pos_tablelist">
	{{> nav}}

    <div class="container">
    	<div class="row">
    		<div class="col-md-10">
    			<div class="row">
    				{{#with table_check "s1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s1" style="background:#ff6666;" value="s1">S1</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s1" style="background:#ffff1a;" value="s1">S1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s1" value="s1">S1</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "s2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s2" style="background:#ff6666;" value="s2">S2</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s2" style="background:#ffff1a;" value="s2">S2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s2" value="s2">S2</button>
			    		{{/if}}
		    		{{/with}}


		    		{{#with table_check "s3"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s3" style="background:#ff6666;" value="s3">S3</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s3" style="background:#ffff1a;" value="s3">S3</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s3" value="s3">S3</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "s4"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s4" style="background:#ff6666;" value="s4">S4</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s4" style="background:#ffff1a;" value="s4">S4</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s4" value="s4">S4</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "s5"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s5" style="background:#ff6666;" value="s5">S5</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s5" style="background:#ffff1a;" value="s5">S5</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s5" value="s5">S5</button>
			    		{{/if}}
		    		{{/with}}


		    		{{#with table_check "s6"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s6" style="background:#ff6666;" value="s6">S6</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s6" style="background:#ffff1a;" value="s6">S6</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s6" value="s6">S6</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "s7"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s7" style="background:#ff6666;" value="s7">S7</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s7" style="background:#ffff1a;" value="s7">S7</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="s7" value="s7">S7</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	    <div class="row">
    				{{#with table_check "m1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m1" style="background:#ff6666;" value="m1">M1</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m1" style="background:#ffff1a;" value="m1">M1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m1" value="m1">M1</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "m2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m2" style="background:#ff6666;" value="m2">M2</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m2" style="background:#ffff1a;" value="m2">M2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m2" value="m2">M2</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "m3"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m3" style="background:#ff6666;" value="m3">M3</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m3" style="background:#ffff1a;" value="m3">M3</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m3" value="m3">M3</button>
			    		{{/if}}
		    		{{/with}}

		    		<div class="col-md-1"></div>

		    		{{#with table_check "m4"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m4" style="background:#ff6666;" value="m4">M4</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m4" style="background:#ffff1a;" value="m4">M4</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-a col-md-1" id="m4" value="m4">M4</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	    <div class="row" style="margin-top:30px;">
	    	    	{{#with table_check "b1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b1" style="background:#ff6666;" value="b1">B1</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b1" style="background:#ffff1a;" value="b1">B1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b1" value="b1">B1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "b2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b2" style="background:#ff6666;" value="b2">B2</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b2" style="background:#ffff1a;" value="b2">B2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b2" value="b2">B2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "b3"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b3" style="background:#ff6666;" value="b3">B3</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b3" style="background:#ffff1a;" value="b3">B3</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-c col-md-3" id="b3" value="b3">B3</button>
			    		{{/if}}
		    		{{/with}}
	    	    </div>

	    	    <div class="row" style="margin-top:30px;">
	    	    	{{#with table_check "t1"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t1" style="background:#ff6666;" value="t1">T1</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t1" style="background:#ffff1a;" value="t1">T1</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t1" value="t1">T1</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "t2"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t2" style="background:#ff6666;" value="t2">T2</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t2" style="background:#ffff1a;" value="t2">T2</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t2" value="t2">T2</button>
			    		{{/if}}
		    		{{/with}}

		    		{{#with table_check "t3"}}
    				    {{#if inuse}}
	    				    {{#if bing}}
	    				        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t3" style="background:#ff6666;" value="t3">T3</button>
			    		    {{else}}
			    		        <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t3" style="background:#ffff1a;" value="t3">T3</button>
			    		    {{/if}}
			    		{{else}}
			    		    <button class="btn btn-default tablelistbtn table-btn-t col-md-2" id="t3" value="t3">T3</button>
			    		{{/if}}
		    		{{/with}}

	    	    </div>
	    	</div>
	    	<div class="col-md-1">
	    		<button class="btn btn-primary pos_side_button"><span><i class="fa fa-bars"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-area-chart"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-bell-o"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-calendar"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-comments-o"></i></span></button>
				<button class="btn btn-primary pos_side_button"><span><i class="fa fa-cogs"></i></span></button>
	    	</div>
    	</div>
    </div>
</template>
