body {
	background-image:url("../img/bg4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.login-form {
	margin: 30% 0;
}

.login-form>.panel, .item {
	border-radius: 5px;
	box-shadow: 0 0 8px 0px #A1A1A1;
}

.item-title {
	text-align: center;
	font-size: 16px;
	height: 34px;
	margin-top: 5px;
	margin-bottom: 2px;
}

a, a:hover, a:active, a:focus {
	color:#222222;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a {
	font-size: 15px;
	padding: 13px;
}

.list-group {
	margin-left: 0;
}

.list-group-item {
	padding: 20px 15px;
}

.no-bg {
	background-color: #f5f5f5;
	border-bottom: none;
}

.navbar-brand {
	position: relative;
	z-index: 999;
}

.full-height {
	height: 100%;
}

.zimoloLogo {
	background-image:url("../img/zimoloLogo.png");
	background-repeat: no-repeat;
	background-size: 110px auto;
	background-position: 20px 8px;
	width:140px;
}

.card {
    padding: 60px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 20px;
    font-size: 16px;
    line-height: 3;
    color: #f9f9f9;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.nopadding {
	padding:0!important;
}

.nomargin {
	margin:0!important;
}

.glyphicon-star {
	font-size:12px;
}

.orderQty {
	max-width:70px;
	float:right!important;
}

.stars {
	float:left;
	padding: 10px 0 0 15px;
}

.stores {
	margin-bottom:25px;
}

.stores>.well {
	border-radius: 0 0 7px 7px;
}

.clearfix {
	clear: both;
}

.snLinks {
	display:table;
	margin:0 auto;
}

.menusort {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,e7e7e7+100 */
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e7e7e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
	min-width:300px;
	border-radius: 0px 5px 5px 5px;
}

.menusort ul {
	margin:20px 0;
}

.menusort ul li{
	margin: 5px 0px;
	font-size:14px;
	font-weight:400;
	white-space:nowrap;
}

.menusort ul li a:hover{
	color:#e84a5f;
	font-weight:bold;
}

#posLoginOptions {
	padding: 15px 0;
	height:50px;
}

.posLogin .btn {
	padding: 20px 12px;
	font-size: 20px;
}

#posPassword {
	height: 60px;
	font-size: 20px;
}

.text-default {
	color: #ccc;
}

.custompadding {
	padding:6px 12px!important;
}

.navbar .badge {
	background-color: transparent;
	font-size: 14px;
	padding: 3px 0px 3px 7px;
}

.navbar .btn {
	padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-form .form-control {
	padding: 6px 10px;
}

.form-control {
	font-size:14px;
}

.navbar {
	border-radius:0;
	box-shadow: 0px 0 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid #282B33;
    background: #3e444e;
    background: -webkit-linear-gradient(top,#4B515C,#3A3F47);
    background: -moz-linear-gradient(top,#4B515C,#3A3F47);
    background: -o-linear-gradient(top,#4B515C,#3A3F47);
    background-image: -ms-linear-gradient(#4B515C,#3A3F47);
}

.avatar {
	width: 33px;
	height: 33px;
	margin-right: 10px;
}

.avatar-user {
	width: 50px;
	height: 50px;
}

.messages {
	width:350px;
	-webkit-animation-duration: 3s;
}

.messages  a {
	white-space: normal!important;
	display: inline-block!important;
}

.messagebtn {
	text-align: left;
}

#all-message {
	display: block!important;
	font-weight: bold;
}

.message-header {
    font-size: 12px;
    font-weight: bold;
	margin-bottom: 5px;
}

.user {
	background-size: 33px 33px;
}

.panel-body {
    padding: 10px;
    font-size: 22px;
}

.panel-zimolo, .panel-success, .panel-danger, .panel-info, .panel-warning {
    border: none;
}

.panel-zimolo > .panel-heading {
    color: #ffffff;
    background-color: #4B515C;
    border-color: #4B515C;
}

.v-margin { 
	margin-top: 6px;
	margin-bottom: 6px;
}

.top-margin-15 {
	margin-top: 15px;
}

.top-margin-20 {
	margin-top: 20px;
}

.btn-custom-open {
	color:#ffffff!important;
	border-color:inherit!important;
}

.btn-custom:focus {
	color:#ffffff!important;
	background-color:#1c1d1d!important;
	border-color:#080808!important;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block!important;
    float:none!important;
    text-align:left;
    margin-right:-4px;
}

.btn-zimolo {
	background: #fe9090; /* Old browsers */
	background: -moz-linear-gradient(top,  #fe9090 0%, #e84a5f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe9090), color-stop(100%,#e84a5f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fe9090 0%,#e84a5f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fe9090 0%,#e84a5f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fe9090 0%,#e84a5f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fe9090 0%,#e84a5f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9090', endColorstr='#e84a5f',GradientType=0 ); /* IE6-9 */
	border:1px solid #e84a5f;
	color:white;
}
	
.btn-zimolo:hover {
	background: #fd6989; /* Old browsers */
	background: -moz-linear-gradient(top,  #fd6989 0%, #b7275c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd6989), color-stop(100%,#b7275c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fd6989 0%,#b7275c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fd6989 0%,#b7275c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fd6989 0%,#b7275c 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fd6989 0%,#b7275c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd6989', endColorstr='#b7275c',GradientType=0 ); /* IE6-9 */
	border:1px solid #b7275c;
	color:white;
}

.text-zimolo {
	color:#e84a5f;
}

.label {
	font-size: 12px;
	font-weight:bold;
}

.label-primary {
	background-color:#4B515C;
}

.logo {
	background-image: url('/img/logo.png');
	width: 100%;
	height: 200px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}

.store-logo {
	width: 110px;
	margin: 0 auto;
	display: table;
	position: relative;
    z-index: 999;
	padding: 4px;
	background-color: white;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.2);
	-moz-box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.2);
	box-shadow: 0px 0px 10px 1px rgba(100,100,100,0.2);
}

.separator {
	display: inline-block;
	border-top: 1px solid #ddd;
	width: 100%;
	height: 1px;
	position: relative;
	top: -68px;
	z-index: 998;
}

.line {
	background: #ccc;
	height: 1px;
	margin-top:10px;
}

.ribbon {
	background: url(../img/ribbon.png) center center no-repeat;
	width: 76px;
	height: 84px;
	position: absolute;
	right: 25px;
	top: -9px;
}

/*.navbar-brand {
	background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}*/

.storerating {
	position: absolute;
	right: 40px;
	top: 22px;
	font-size: 18px;
	font-weight: bold;
	background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.cpanel {
	width: 150px;
	position: absolute;
	bottom: 0;
	top: 46px;
	border-right: 1px solid #dddddd;
}

.main {  
	/*position: relative;
	margin-left: 150px;*/
}

.list-group {
	font-size: 14px;
}

a.list-group-item, .list-group-item:first-child, .list-group-item:last-child {
	border-radius:0;
	border-right:none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #4B515C;
    border-color: #4B515C;
}

.icon-cpanel {
	width:0;
	margin-right:25px;
}

.icon-cargo {
	margin-bottom: 8px!important;
    position: relative;
    top: 1px;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.price {
	font-weight:bold;
	padding:0px 15px 0 15px;
	color: red;
	text-align: center;
	margin-top: 2px;
	margin-bottom:5px;
}

.block {
    margin: 0 0 10px;
    padding: 10px 10px 1px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #dbe1e8;
}

.block.full {
    padding: 20px 15px;
}

div.dataTables_filter label {
    font-weight: 400;
    float: right;
}

.dataTables_paginate {
    float: right;
    margin: 0;
	padding: 0;
}

.dataTables_paginate .pagination {
	margin:0;
}

.table thead .sorting {
    background-image: url(../img/sort_both.png);
}

.table thead .sorting, .table thead .sorting_asc, .table thead .sorting_asc_disabled, .table thead .sorting_desc, .table thead .sorting_desc_disabled {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 19px 19px;
}

 div.product-chooser.disabled div.product-chooser-item
{
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6;
	cursor: default;
}

div.product-chooser div.product-chooser-item{
	padding: 11px;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	/*margin-left: 10px;
	margin-right: 10px;*/
	background-color: rgba(255,255,255,0.5);
}

div.product-chooser div.product-chooser-item.selected{
	/*border: 4px solid #4B515C;*/
	background: #efefef;
	/*padding: 8px;*/
	filter: alpha(opacity=100);
	opacity: 1;
}

div.product-chooser div.product-chooser-item img{
	padding: 0;
}

div.product-chooser div.product-chooser-item span.title{
	display: block;
	margin: 10px 0 5px 0;
	font-weight: bold;
	font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description{
	font-size: 12px;
}

/*div.product-chooser div.product-chooser-item input{
	position: absolute;
	left: 0;
	top: 0;
	visibility:hidden;
}*/

/*CSS Menu Styles*/ 
#cssmenu {
  margin: 0 15px;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial; }
  #cssmenu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #cssmenu ul li {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      line-height: 1;
      display: block;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #cssmenu ul li a {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        line-height: 1;
        display: block;
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
  #cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  #cssmenu #menu-button {
    display: none; }
  #cssmenu > ul > li {
    float: left;
    width: 12.5%;
    text-align: center;
    border: 1px solid #ddd;}
    #cssmenu > ul > li.active {
      background: #4B515C; }
      #cssmenu > ul > li.active a {
        color: white; }
        #cssmenu > ul > li.active a i {
          color: white; }
      #cssmenu > ul > li.active:hover {
        background: #272727; }
    #cssmenu > ul > li:hover {
      background: #272727; }
    #cssmenu > ul > li > a i {
      color: #4B515C;
      text-align: center;
      display: block;
      margin-bottom: 10px;
      font-size: 16px; }
  #cssmenu.align-center > ul {
    font-size: 0;
    text-align: center; }
    #cssmenu.align-center > ul > li {
      display: inline-block;
      float: none; }
  #cssmenu.align-center ul ul {
    text-align: left; }
  #cssmenu.align-right > ul > li {
    float: right; }
  #cssmenu > ul > li > a {
    padding: 15px 5px;
    font-size: 13px;
    text-decoration: none;
    color: #4B515C;
    text-align: center;
    font-weight: 300; }
  #cssmenu > ul > li:hover > a {
    color: white; }
    #cssmenu > ul > li:hover > a i {
      color: white; }
  #cssmenu > ul > li.has-sub > a:after {
    position: absolute;
    top: 22px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #bfbfbf;
    content: ''; }
  #cssmenu > ul > li.has-sub > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #bfbfbf;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  #cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0; }
  #cssmenu > ul > li.has-sub:hover > a:after {
    background: white; }
  #cssmenu ul ul {
    position: absolute;
    left: -9999px;
    z-index: 10000; }
  #cssmenu.align-right ul ul {
    text-align: right; }
  #cssmenu ul ul li {
    background: #272727;
    height: 0;
	margin: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  #cssmenu li:hover > ul {
    left: auto; }
  #cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0; }
  #cssmenu li:hover > ul > li {
    height: 35px; }
    #cssmenu li:hover > ul > li:hover {
      background: #4B515C; }
  #cssmenu ul ul ul {
    margin-left: 100%;
    top: 0; }
  #cssmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%; }
  #cssmenu ul ul ul li {
    background: #4B515C; }
    #cssmenu ul ul ul li:hover {
      background: #272727 !important; }
  #cssmenu ul ul li a {
    padding: 11px 15px;
    width: 170px;
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    text-align: left; }
  #cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
    border-bottom: 0; }
  #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: white; }
  #cssmenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: ''; }
  #cssmenu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px; }
  #cssmenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  #cssmenu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px; }
  #cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0; }

/*custom buttons*/	

.btn-default {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+50,e1e1e1+51,f6f6f6+100;White+Gloss+%231 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}	

.btn-default:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fafafa+0,ececec+50,dddddd+51,f1f1f1+100 */
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #ececec 50%, #dddddd 51%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#ececec), color-stop(51%,#dddddd), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#ececec 50%,#dddddd 51%,#f1f1f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.btn-default:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.btn-primary {
	background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
	background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
	background-repeat: no-repeat;
	background-color: #232628;
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);

}
.btn-primary:hover {
	background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#191b1d));
	background-image: linear-gradient(#020202, #101112 40%, #191b1d);
	background-repeat: no-repeat;
	background-color: #232628;
    border-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
}


.alert-warning {
	background-color: #ffffee;
	border-color: #59291B;
}

.alert-warning>h1,.landing-page .alert-warning>h5 {
	color: #e6b800;
	text-align: center;
}

.menu-control {
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	bottom:0;
	z-index: 999;
}

.padding {
	padding: 5px;
}

/*...........................Main Layout............................*/

form {
	margin: 0;
}

.tableselbtn {
	margin: 5px;
	height: 50px;
	border-radius: 8px;
}

.specreqbtn {
	width: 9%;
	height: 50px;
	font-size:1.5em;
}

.specreqbtn:active{
	background: #ffff1a !important;
}

.specreqbtn2 {
	width: 6%;
	height: 50px;
	padding-left:0;
	font-size:1em;
}

.specreqbtn2:active{
	background: #ffff1a !important;
}

.specreqtitle {
	width:8%;
	float:left;
	font-size:2em;
	text-align: center;
	margin-top: 8px;
}

.specreq_selected {
	background: #ffff1a;
	font-size: 1.5em;
}

.specreq_selected:hover {
	background: #ffff1a;
	font-size: 1.5em;
}

.col-md-10s {
	width:12.5%;
}

.specreqtab {
	padding: 0;
}

.specreq1 {
	height:60px;
	font-size: 1.5em;
}

.specreq1:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.specreq2 {
	height: 80px;
	font-size: 1.5em;
}

.specreq2:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.mod2tab {
	padding: 0;
}

.mod2select {
	height:60px;
	font-size: 1.5em;
}

.mod2select:active{
	background: #ffff1a !important;
	font-size: 1.5em;
}

.mod2selected {
	background: #ffff1a;
	font-size: 1.5em;
}

.mod2selected:hover {
	background: #ffff1a;
	font-size: 1.5em;
}

/*...............................POS Admin..........................*/

html, body {
	height: 100%;
}

.pos {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	position: absolute;
	top: 48px;
	bottom: 0;
	width: 100%;
	padding: 0!important;
}

.pos_table {
	font-size: 2em;
}

.table_zone {
	border: 1px solid #a1a1a1;
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.table_zone>.row>div {
	padding: 0;
	height: 25%;
}

.cartnotification {
  font-size:1em;
  color: white;
  margin-bottom: 0;
  border-radius: 20px;
  background-color: red;
  padding-left:5px;
  padding-right:5px;
}

.table_zone>.row>div>.btn {
	margin: auto;
	border: 1px solid #a1a1a1;
	height: 100px;
	border-radius: 100px;
	width: 100px;
	margin-top: 13%;
}

#order_zone {
	border: 1px solid #a1a1a1;
	height: 80%;
	overflow: auto;
	background-color: #f5f5f5;
	padding-bottom: 25px;
}

#control_zone {
	border: 1px solid #a1a1a1;
	height: 20%;
	background: rgb(245,246,246); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,246,1)), color-stop(21%,rgba(219,220,226,1)), color-stop(49%,rgba(184,186,198,1)), color-stop(80%,rgba(221,223,227,1)), color-stop(100%,rgba(245,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
}

.pos_side_button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 60px;
	width: 60px;
	font-size: 1.5em;
}

.control_button {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 1.5em;
	text-align: center;
}

.container {
	background-color: rgba(255,255,255,0.9);padding: 20px;border-radius: 5px;box-shadow: 0 0 20px 3px #666;
}

.table-btn-a {
	height: 60px;
	margin: 5px;
	border-radius: 10px;
}

.table-btn-c {
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
	height: 100px;
	border-radius: 5px;
}

.table-btn-b1 {
	margin: 5px;
	margin-left: 20px;
	height: 100px;
	width: 200px;
	border-radius: 10px;
}

.table-btn-b2 {
	margin: 5px;
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	width: 100px;
	border-radius: 10px;
}

.table-btn-t {
	margin: 10px;
	height: 60px;
	width: 60px;
	border-radius: 5px;
}

.numpad {
	font-size: 2.5em;
	height: 100px;
}

.numpad-del {
	font-size: 2.5em;
	height: 100px;
}

.paytypebtn {
	font-size: 2em;
	height: 60px;
	border-radius: 5px;
}

/*..........................Media Queries...........................*/


@media all and (max-width: 768px) {
    #cssmenu > ul > li {
        width: 25%;
    }

    .hidden-xs {
        display: none !important;
    }

    @media all and (max-width: 400px) {
        .panel-title {
            font-size: 12px;
        }
    }
}
