<template name="cart">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    {{> nav}}
    
    <div class="container">
        <table id="cart" class="table table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th style="width:30%;">菜目</th>
                <th style="width:20%;"></th>
                <th style="width:10%;" class="text-center">单价</th>
                <th style="width:10%;" class="text-center">GST</th>
                <th style="width:10%;" class="text-center">PST</th>
                <th style="width:10%;" class="text-center">备注</th>
                <th style="width:10%;" class="text-center">粉面</th>
            </tr>
            </thead>
            <tbody>

            {{#each orders}}
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="/img/{{pic_id}}" alt="..." class="img-responsive img-thumbnail"/></div>
                            {{#if newitem}}
                                <div class="col-sm-10" style="padding: 15px;">
                                    <h4 class="nomargin" style="font-size: 1.5em;">{{name}}<i class="fa fa-circle" style="color:red; zoom:0.5;"></i></h4>
                                </div>
                            {{else}}
                                <div class="col-sm-10" style="padding: 15px;">
                                    <h4 class="nomargin" style="font-size: 1.5em;">{{name}}</h4>
                                </div>
                            {{/if}}
                        </div>
                    </td>
                    <td data-th="SpecReq"><p>{{specreq}}</p></td>
                    <td data-th="Price" class="text-center"><p>{{price}}</p></td>
                    <td data-th="GST" class="text-center"><p>{{gst}}</p></td>
                    <td data-th="PST" class="text-center"><p>{{pst}}</p></td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info editspecreq" style="display:block; margin:0 auto;"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info mod2btn" style="display:block; margin:0 auto;"><i class="fa fa-heart"></i></button>
                    </td>
                </tr>

            {{/each}}

            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center" style="font-size: 2em;"><strong>总价 $ {{carttotal}}</strong></td>
                </tr>
                <tr>
                    
                    <td><a href="#" class="btn btn-warning" id="goback"><i class="fa fa-chevron-left"></i> 回到菜单</a></td>
                    
                    <td><a href="#" class="btn btn-success btn-block" id="cart_confirm_btn">送单 <i class="fa fa-check"></i></a></td>
                    <td></td>
                    <!--
                    <td><a href="#" class="btn btn-primary btn-block" id="table_order_btn">回台</a></td> -->
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>价格 $ {{cartsubtotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总GST $ {{cartgsttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总PST $ {{cartpsttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"><strong>总价 $ {{carttotal}}</strong></td>
                    <td class="hidden-xs text-center" style="font-size: 2em;"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    {{>specreq_modal}}
    {{>mod2_modal}}
    {{>mod3_modal}}
    {{>mod4_modal}}
    {{>mod5_modal}}

    {{> carttotable_modal}}

</template>


<!--
<template name="mod2_modal">
    <div class="modal fade" id="mod2_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod2cancel">取消</button>
                        <form class="col-sm-9" id="mod2form" action="#">
                            <div class="input-group">
                                <span><input class="form-control" name="mod2item" id="mod2item" placeholder="按按钮或在此处手动输入"></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>
                    <ul class="nav nav-tabs" id="tabContent">
                        <li class="active mod2tab col-sm-2"><a href="#mod2tab1" data-toggle="tab"  style="text-align:center; font-size:2em;">加料</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab2" data-toggle="tab" style="text-align:center; font-size:2em;">糖</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab3" data-toggle="tab" style="text-align:center; font-size:2em;">冰/热</a></li>
                    </ul>

                    <div class="tab-content" style="height:400px;">
                        <div class="tab-pane active" id="mod2tab1">
                            <button class="btn btn-default col-sm-4 mod2select" name="珍珠" value="0.00" onclick="this.blur()">珍珠</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="椰果" value="0.50" onclick="this.blur()">椰果</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="蘆薈" value="0.75" onclick="this.blur()">蘆薈</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="仙草" value="1.00" onclick="this.blur()">仙草</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="紅豆" value="1.00" onclick="this.blur()">紅豆</button>


                        </div>

                        <div class="tab-pane" id="mod2tab2">
                            <button class="btn btn-default col-sm-4 mod2select" name="0%" value="0.00" onclick="this.blur()">0%</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="25%" value="0.00" onclick="this.blur()">25%</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="50%" value="0.00" onclick="this.blur()">50%</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="75%" value="0.00" onclick="this.blur()">75％</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="Regular" value="0.00" onclick="this.blur()">Regular</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="Extra" value="0.00" onclick="this.blur()">Extra</button>


                        </div>

                        <div class="tab-pane" id="mod2tab3">
                            <button class="btn btn-default col-sm-4 mod2select" name="熱" value="0.00" onclick="this.blur()">熱</button>                                                
                            <button class="btn btn-default col-sm-4 mod2select" name="去冰" value="0.00" onclick="this.blur()">去冰</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="少冰" value="0.00" onclick="this.blur()">少冰</button>
                            <button class="btn btn-default col-sm-4 mod2select" name="Extra" value="0.00" onclick="this.blur()">Extra</button>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
-->
<template name="mod2_modal">
    <div class="modal fade" id="mod2_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod2cancel">取消</button>
                        <form class="col-sm-9" id="mod2form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod2item" id="mod2item" placeholder="按按钮输入" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>
                    <!--<ul class="nav nav-tabs" id="tabContent">
                        <li class="active mod2tab col-sm-2"><a href="#mod2tab1" data-toggle="tab"  style="text-align:center; font-size:2em;">加料:</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab2" data-toggle="tab" style="text-align:center; font-size:2em;">糖</a></li>
                        <li class="mod2tab col-sm-2"><a href="#mod2tab3" data-toggle="tab" style="text-align:center; font-size:2em;">冰/热</a></li>
                    </ul> !-->

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-3 mod2select" name="珍珠" value="0.50" onclick="this.blur()">珍珠</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="椰果" value="0.50" onclick="this.blur()">椰果</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="仙草" value="0.50" onclick="this.blur()">仙草</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="布丁" value="0.50" onclick="this.blur()">布丁</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="爱玉" value="0.50" onclick="this.blur()">爱玉</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="芦荟" value="0.50" onclick="this.blur()">芦荟</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="西米" value="0.50" onclick="this.blur()">西米</button>
                        <button class="btn btn-default col-sm-3 mod2select" name="紅豆" value="0.50" onclick="this.blur()">紅豆</button>
                    </div>
          

                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="无糖" onclick="this.blur()">无糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="三分糖" onclick="this.blur()">三分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="半糖" onclick="this.blur()">半糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="八分糖" onclick="this.blur()">八分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullSugar">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="全糖" onclick="this.blur()" checked>全糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="多糖" onclick="this.blur()">多糖
                            </label>
                        </div>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">

                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="去冰" onclick="this.blur()">去冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="少冰" onclick="this.blur()">少冰
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullIce">
                                 <input type="radio" class="mod2radioIce" name="ice" value="正常冰" onclick="this.blur()" checked>正常冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="全糖" onclick="this.blur()">多冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="熱" onclick="this.blur()">熱
                            </label>                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod3_modal">
    <div class="modal fade" id="mod3_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod3cancel">取消</button>
                        <form class="col-sm-9" id="mod3form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod3item" id="mod3item" placeholder="按按钮输入" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-6 mod3select" name="綠茶" value="0.00" onclick="this.blur()">綠茶</button>
                        <button class="btn btn-default col-sm-6 mod3select" name="紅茶" value="0.00" onclick="this.blur()">紅茶</button>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-3 mod3select" name="珍珠" value="0.50" onclick="this.blur()">珍珠</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="椰果" value="0.50" onclick="this.blur()">椰果</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="仙草" value="0.50" onclick="this.blur()">仙草</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="布丁" value="0.50" onclick="this.blur()">布丁</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="爱玉" value="0.50" onclick="this.blur()">爱玉</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="芦荟" value="0.50" onclick="this.blur()">芦荟</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="西米" value="0.50" onclick="this.blur()">西米</button>
                        <button class="btn btn-default col-sm-3 mod3select" name="紅豆" value="0.50" onclick="this.blur()">紅豆</button>
                    </div>
          
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="无糖" onclick="this.blur()">无糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="三分糖" onclick="this.blur()">三分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="半糖" onclick="this.blur()">半糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="八分糖" onclick="this.blur()">八分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullSugar">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="全糖" onclick="this.blur()" checked>全糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="多糖" onclick="this.blur()">多糖
                            </label>
                        </div>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">

                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="去冰" onclick="this.blur()">去冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="少冰" onclick="this.blur()">少冰
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullIce">
                                 <input type="radio" class="mod2radioIce" name="ice" value="正常冰" onclick="this.blur()" checked>正常冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="全糖" onclick="this.blur()">多冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="熱" onclick="this.blur()">熱
                            </label>                            
                        </div>

                    </div>
          

                </div>
            </div>
        </div>
    </div>
</template>


<template name="mod4_modal">
    <div class="modal fade" id="mod4_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod4cancel">取消</button>
                        <form class="col-sm-9" id="mod4form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod4item" id="mod4item" placeholder="按按钮输入" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-6 mod4select" name="綠茶" value="0.00" onclick="this.blur()">綠茶</button>
                        <button class="btn btn-default col-sm-6 mod4select" name="紅茶" value="0.00" onclick="this.blur()">紅茶</button>
                    </div>

                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-3 mod4select" name="珍珠" value="0.50" onclick="this.blur()">珍珠</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="椰果" value="0.50" onclick="this.blur()">椰果</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="仙草" value="0.50" onclick="this.blur()">仙草</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="布丁" value="0.50" onclick="this.blur()">布丁</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="爱玉" value="0.50" onclick="this.blur()">爱玉</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="芦荟" value="0.50" onclick="this.blur()">芦荟</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="西米" value="0.50" onclick="this.blur()">西米</button>
                        <button class="btn btn-default col-sm-3 mod4select" name="紅豆" value="0.50" onclick="this.blur()">紅豆</button>
                    </div>
          
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="无糖" onclick="this.blur()">无糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="三分糖" onclick="this.blur()">三分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="半糖" onclick="this.blur()">半糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="八分糖" onclick="this.blur()">八分糖
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullSugar">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="全糖" onclick="this.blur()" checked>全糖
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioSugar" name="sugar" value="多糖" onclick="this.blur()">多糖
                            </label>
                        </div>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">

                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="去冰" onclick="this.blur()">去冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="少冰" onclick="this.blur()">少冰
                            </label>
                            <label class="btn btn-default mod2radiobtn" id = "fullIce">
                                 <input type="radio" class="mod2radioIce" name="ice" value="正常冰" onclick="this.blur()" checked>正常冰
                            </label>
                            <label class="btn btn-default mod2radiobtn">
                                 <input type="radio" class="mod2radioIce" name="ice" value="全糖" onclick="this.blur()">多冰
                            </label>
                           
                        </div>

                    </div>
          

                </div>
            </div>
        </div>
    </div>
</template>

<template name="mod5_modal">
    <div class="modal fade" id="mod5_modal_id">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 15px;">
                        <button class="btn btn-primary col-sm-3" id="mod5cancel">取消</button>
                        <form class="col-sm-9" id="mod5form" action="#">
                            <div class="input-group"> 
                                <span><input class="form-control" name="mod5item" id="mod5item" placeholder="按按钮输入" value = "{{specreqitem}}" disabled></span>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>


                    <div class="row" style="margin-bottom: 25px;">
                        <button class="btn btn-default col-sm-2 mod5select" name="珍珠(0.5)" value="0.50" onclick="this.blur()">珍珠(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="椰果(0.5)" value="0.50" onclick="this.blur()">椰果(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="仙草(0.5)" value="0.50" onclick="this.blur()">仙草(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="布丁(0.5)" value="0.50" onclick="this.blur()">布丁(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="爱玉(0.5)" value="0.50" onclick="this.blur()">爱玉(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="芦荟(0.5)" value="0.50" onclick="this.blur()">芦荟(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="西米(0.5)" value="0.50" onclick="this.blur()">西米(0.5)</button>
                        <button class="btn btn-default col-sm-2 mod5select" name="红豆(0.5)" value="0.50" onclick="this.blur()">红豆(0.5)</button>
                        

                    </div>


          

                </div>
            </div>
        </div>
    </div>
</template>


<template name="carttotable_modal">
    <div class="modal fade" id="carttotable_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <h1 align=center>已通知前台</h1>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>