<template name="categories">
	<script>
		$(document).ready(function() {

			$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		});


	</script>

    
	<div class="container top-margin-20">
		<div class="alert alert-warning">
			<h1 align="center">欢迎来到欢乐颂</h1>
            <div class="input-group">
				<input type="text" id='menu_item_id' class="form-control" placeholder="Search for...">
			  <span class="input-group-btn">
				<button class="btn btn-default" id='search' type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
			  </span>
			</div><!-- /input-group -->

		</div>
		
		<div class="row">
			{{#each categories}}
			
				<a href="/menu/table/{{../tableid}}/category/{{_id}}" class="col-md-3 col-sm-4 col-xs-6"> <!--animated flipInY">
					
					<img class="img-responsive img-thumbnail" src="/img/{{pic_id}}" /> -->
					
					<h2 class="item btn btn-zimolo btn-lg btn-block">{{name}}</h2>
				</a>
			
			{{/each}}
			<!--	<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" />早茶</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" />点心</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" />肉类</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" />饭类</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" />妹子</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" />哎呦我去</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" />什么啊</a>
				<a class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" />去死！</a>	-->
		</div>

	</div>
</template>