<template name="items">

	<div class="shop-items">
		<div class="container-fluid">
			<div class="row">
				{{#each products}}
					<div class="col-xs-6 col-sm-3 col-md-2 padding">
						<!-- Restaurant Item -->
						<div class="item thumbnail nomargin" > <!-- animated flipInY">

						    <img class="img-responsive" alt="" style="display: block; margin-left: auto; margin-right: auto;">
						    -->
							<!-- Item details -->
							<div class="item-dtls">
								<!-- product title -->
								<h4 class="item-title">{{name}}</h4>
								<!-- price -->
								<h3 class="price lblue">$ {{price}}</h3>
							</div>
							
						    <div class="ecom bg-lblue cartbtn btn btn-block btn-primary nopadding"><h4>点菜</h4></div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

{{>mod2_modal}}
{{>mod3_modal}}
{{>mod4_modal}}
{{>mod5_modal}}

{{> addtocart_confirm_modal}}
</template>

<template name="addtocart_confirm_modal">
    <div class="modal fade" id="addtocard_confirm_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	<h1 align=center>已加入点单！</h1>
                	<div class="row">
                		<button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" data-dismiss="modal">确认</button>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>