<template name="menulayout">

	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<title>欢乐颂甜品店</title>
	</head>

	<body id="menu">
	{{> nav}}
		<div class="container-fluid" style="padding-bottom: 70px;">
			{{>yield}}
		</div>

		<div class="container-fluid menu-control animated fadeInUp">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<a class="btn btn-default" href="/menu/table/{{tableid}}" role="button">
						<h3><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 回退 </h3>
					</a>
				</div>

				<div class="btn-group" role="group">
					<a class="btn btn-default" id ="confirmOrder" role="button" >
						<h3><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 点单 <label class="cartnotification">  
						{{cartquantity.orders.length}} </label> </h3>
					</a>
				</div>

			</div>
		</div>

    </body>

</template>

