<template name="singleitem">
    {{> nav}}

    <section>
        <div class="container top-margin-20">
            <div class="row">
                <div class="item thumbnail animated flipInY">
                   {{#with item}}
                        <img class="img-responsive" src="/img/{{pic_id}}" alt="" style="display: block; margin-left: auto; margin-right: auto;">
                        <!-- Item details -->
                        <div class="item-dtls">
                            <!-- product title -->
                            <h4 class="item-title">{{name}}</h4>
                            <!-- price -->
                            <h3 class="price lblue">$ {{price}}</h3>
                        </div>
                        <br>
                        <div class="ecom bg-lblue cartbtn btn btn-block btn-primary nopadding"><h4>点菜</h4></div>
                    {{/with}}
                </div>
            </div>
        </div>
    </section>

</template>
