<template name="tablesel">
    {{> nav}}

    <section>
        <div class="container top-margin-20">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <hgroup>
                        <h1 class="free" align="center">请输入桌号</h1>
                    </hgroup>
                    <div class="well">
                        <form id="form" action="#">
                            <div class="input-group">
                                <input class="form-control" name="email" id="tableNumber" placeholder="例如：3" required>
                                <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-default col-md-1 col-md-offset-1 tableselbtn" id="a1" value="a1">A1</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a2" value="a2">A2</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a3" value="a3">A3</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a4" value="a4">A4</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a5" value="a5">A5</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a6" value="a6">A6</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a7" value="a7">A7</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="a8" value="a8">A8</button>
            </div>

            <div class="row">
                <button class="btn btn-default col-md-1 col-md-offset-1 tableselbtn" id="b11" value="b11">B11</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="b12" value="b12">B12</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="b13" value="b13">B13</button>
            </div>

            <div class="row">
                <button class="btn btn-default col-md-1 col-md-offset-1 tableselbtn" id="c11" value="c11">C11</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c12" value="c12">C12</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c13" value="c13">C13</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c21" value="c21">C21</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c22" value="c22">C22</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c23" value="c23">C23</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c31" value="c31">C31</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c32" value="c32">C32</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="c33" value="c33">C33</button>
            </div>

            <div class="row">
                <button class="btn btn-default col-md-1 col-md-offset-1 tableselbtn" id="b21" value="b21">B21</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="b22" value="b22">B22</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="b23" value="b23">B23</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="b24" value="b24">B24</button>
            </div>
            <div class="row">
                <button class="btn btn-default col-md-1 col-md-offset-1 tableselbtn" id="t11" value="t11">T11</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="t12" value="t12">T12</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="t13" value="t13">T13</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="t21" value="t21">T21</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="t22" value="t22">T22</button>
                <button class="btn btn-default col-md-1 tableselbtn" id="t23" value="t23">T23</button>
            </div>
            <div class="row">
                <button class="btn btn-default col-md-4 tableselbtn" id="dlv" value="dlv">外卖</button>
            </div>
        </div>
    </section>

</template>
