<template name="home">
	{{> nav}}

	<div class="container landing-page">
		<div class="alert alert-warning">
			<h1>Fruit 8090 POS</h1>
			<h5>请选择如下端口</h5>
		</div>
		<div class="row">
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/posadmin/tablelist" role="button">POS</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/orderslist" role="button">单目</a>
			</div>
			<div class="col-sm-4 col-md-4">
				<a class="btn btn-primary btn-lg btn-block" href="/backoffice" role="button">后台</a>
			</div>
		</div>

		<div class="row">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
			  <button class="btn btn-default btn-lg btn-block" id="reset_button" role="button">复位</button>
			</div>
		</div>
	</div>
</template>
