<template name="orderslist">
    <script>
        $(document).ready(function() {
            $('.list-group-item').on('mouseover', function(event) {
                event.preventDefault();
                $(this).closest('li').addClass('open');
            });
            $('.list-group-item').on('mouseout', function(event) {
                event.preventDefault();
                $(this).closest('li').removeClass('open');
            });
        });
    </script>

    {{> nav}}

    <div class="container">
        <div class="alert alert-warning">
            <h1 align="center">单目总汇</h1>
            <h4 align="center">深色为已结账客单</h4>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <ul class="list-group">

                    {{#each carts}}
                        <li class="list-group-item">
                            <div class="row">
                                {{#if activated}}
                                <div class="col-xs-7 col-sm-7" style="margin-bottom: 0;">
                                    <h4 style="color: red;">单号：{{seqnumber}} - 进行中</h4>
                                    <h4><strong>{{tableid}}号桌</strong></h4>
                                </div>
                                {{else}}
                                <div class="col-xs-7 col-sm-7" style="margin-bottom: 0;">
                                    <h4>单号：{{seqnumber}} </h4>
                                    <h4><strong>{{tableid}}号桌</strong></h4>
                                </div>
                                {{/if}}
                                <div class="col-xs-2 col-sm-2" style="margin-bottom: 0;">
                                    <h4>{{tillMoment time}}</h4>
                                </div>
                                <div type="button" class="col-xs-3 col-sm-3 btn btn-default orderdetails" data-index="{{itemid}}" style="height: 60px;">
                                    <h4><strong>详情</strong></h4>
                                </div>
                            </div>
                        </li>
                    {{/each}}

                </ul>
            </div>
        </div>
    </div>

    {{> masterorders_modal}}
</template>

<template name="masterorders_modal">
    <div class="modal fade" id="masterorders_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">


                <div class="modal-body">
                    {{#if cartmodal}}
                        <h2 align="center">餐目</h2>
                        <h4>桌子：{{cartmodal.tableid}}</h4>
                        <h4>单号：{{cartmodal.seqnumber}}</h4>
                        {{#each cartmodal.orders}}
                        {{#if newitem}}
                        <h5><strong>（{{seqnumber}}）: {{name}} </strong> {{specreq}} <i class="fa fa-circle" style="color:red; zoom:0.5;"></i></h5>
                        {{else}}
                        <h5><strong>（{{seqnumber}}）: {{name}} </strong> {{specreq}}</h5>
                        {{/if}}
                        {{/each}}
                        {{#if cartmodal.receipt_printed}}
                            <h3 style="color:red;">已打印小票</h3>
                        {{/if}}
                        {{#if cartmodal.paid}}
                            <h3 style="color:red;">已付款</h3>
                        {{/if}}
                    {{/if}}
                </div>


            </div>
        </div>
    </div>
</template>
