<template name="backoffice">
	{{> nav}}

	<div class="container">
		<div class="alert alert-danger" style="background-color: #ffffee !important; border-color: #59291B !important;">
			<h1 align="center" style="color: #e6b800;">8090Fruit后台</h1>
		</div>
		<div class="row">
			
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<form id="keyform" action="#">
                    <div class="input-group">
                        <input class="form-control" type="password" name="officekey" id="officekey" placeholder="" required>
                        <span class="input-group-btn"><button class="btn btn-primary" type="submit">确定</button></span>
                    </div>
                </form>
            </div>

		</div>
	</div>
	{{>backoffice_modal}}
	{{>systemreset_modal}}
</template>

<template name="backoffice_modal">
    <div class="modal fade" id="backoffice_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                	{{#if book}}
                    <h1 align=center>今日营业额</h1>
                    <h2 align=center>$ {{book.sales}}</h2>
                    <h1 align=center>现金</h1>
                    <h2 align=center>$ {{book.cash}}</h2>
                    <h1 align=center>卡</h1>
                    <h2 align=center>$ {{book.card}}</h2>
                    <h1 align=center>卡小费</h1>
                    <h2 align=center>$ {{book.tips}}</h2>
                    {{/if}}
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="systemreset">系统复位</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="csvdownload">账目细则下载</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="systemreset_modal">
    <div class="modal fade" id="systemreset_modal_id">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px;" id="systemresetyes">Yes?</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary" style="width:100%; height:60px; font-size:28px; margin-top:20px;" id="systemresetno">No?</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>